<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/output.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="w-full h-screen bg-black">
      <video id="video" class="w-full h-full" controls autoplay playsinline></video>
    </div>
    <script>
      var video = document.getElementById('video');
      // var videoSrc = 'http://localhost:5000/videos/convert/segment.m3u8';
      var videoSrc = 'https://animekk.adaptable.app/videos/convert/segment.m3u8';
      if (Hls.isSupported()) {
        var hls = new Hls();
        hls.loadSource(videoSrc);
        hls.attachMedia(video);
      }
      
      else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = videoSrc;
      }
    </script>
  </body>
</html>
